= form_for [@medication] do |f|
  = f.label :name
  = f.text_field :name
  %bt/
  = f.label :company
  = f.text_field :company
  %br/
  = f.label :adverse_effects
  = f.text_field :adverse_effects
  %br/
  %h5 Prescription for:
  = hidden_field_tag 'medication[patient_ids][]', ''
  - @patients.each do |patient|
    = check_box_tag 'medication[patient_ids][]', patient.id, @medication.patients.include?(patient)
    = patient.first_name
    = patient.last_name
    %br/
  = f.submit
