
<h1>Medication Info</h1>
<br>
<%= link_to "Edit Medication", edit_doctor_patient_medication_path(@doctor, @patient, @medication), class: 'btn btn-info' %>
<%= link_to "Delete Medication", doctor_patient_medication_path(@doctor, @patient, @medication), method: :delete, class: 'btn btn-danger' %>
<br>
<br>
<ul class="dl-horizontal">
<dt>Name</dt>
<dd><%= @medication.name %></dd>
<dt>Company</dt>
<dd><%= @medication.company %></dd>
<dt>Adverse Effects</dt>
<dd><%= @medication.adverse_effects %></dd>
</ul>
<br>
<br>
<%= link_to "Back to patient", doctor_patient_path(@doctor, @patient) %> 