.row
  .col-md-12.text-center
    %input.patient-search
      = link_to "Search", 'javascript:void(0);', class: "patient-search-submit", doctor_id: @doctor.id
%br
.container.patient-search-stuff
- provide(:pagetitle, 'Patients')
- @patients.each do |patient|
  %dl.dl-horizontal
    %dt First Name
    %dd= link_to patient.first_name, doctor_patient_path(@doctor, patient)
    %dt Last Name
    %dd= patient.last_name
    %dt Date of Birth
    %dd= patient.dob
    %dt Description
    %dd= patient.description
    %dt Gender
    %dd= patient.gender
    %dt Blood Type
    %dd= patient.blood_type
    %br
      %dt= link_to "Edit", edit_doctor_patient_path(@doctor, patient), class: 'btn btn-info'
      %dd= link_to "Delete", doctor_patient_path(@doctor, patient), method: :delete, class: 'btn btn-danger'