%h1
  = @patient.first_name
  = @patient.last_name
%table.table
  %tr
    %th Date of Birth
    %th Description
    %th Gender
    %th Blood Type
    %th Visit Status
  %tr
    %td= @patient.dob
    %td= @patient.description
    %td= @patient.gender
    %td= @patient.blood_type
    %td= @patient.workflow_state
= link_to "Edit Patient", edit_doctor_patient_path(@doctor, @patient), class: 'btn btn-info'
= link_to "Delete Patient", doctor_patient_path(@doctor, @patient), method: :delete, class: 'btn btn-danger'
%br/
- if @patient.waiting_room?
  = link_to "Begin Intake", wait_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
  = link_to "Checkup", checkup_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
  = link_to "Recieve X-Ray", xray_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
  = link_to "Start Surgery", surgery_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
  = link_to "Bill Patient", bill_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
- if @patient.mid_checkup?
  = link_to "Recieve X-Ray", xray_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
  = link_to "Bill Patient", bill_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
  = link_to "Discharge Patient", leave_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
- if @patient.mid_xray?
  = link_to "Bill Patient", bill_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
  = link_to "Discharge Patient", leave_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
- if @patient.mid_surgery?
  = link_to "Bill Patient", bill_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
  = link_to "Discharge Patient", leave_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
- if @patient.paid?
  = link_to "Discharge Patient", leave_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm' 
- if @patient.left?
  = link_to "Begin Intake", wait_patient_doctor_patient_path(@doctor, @patient), method: :patch, class: 'btn btn-default btn-sm'
%br/

%br/
%br/
%h3 Medication List
= link_to "Add Medication", new_medication_path, class: 'btn btn-primary'
%br/
%br/
- @patient.medications.each do |medication|
  %ul.dl-horizontal
    %dt Name
    %dd= medication.name
    %dt Company
    %dd= medication.company
    %dt Adverse Effects
    %dd= medication.adverse_effects
    %dt= link_to "Medication Profile", medication_path(medication)
    %dd
%br/
%br/
%h3 Assign Help
= form_for @nurse, url: create_nurse_doctor_patient_path(@doctor, @patient) do |f|
  = f.label :name
  = f.text_field :nurse_name
  %br
  = f.submit
%br
%strong Nurse List
%br
- @nurses.each do |nurse|
  %br
  %strong Name:
  = nurse.nurse_name
  %br
  = link_to "Delete Nurse", destroy_nurse_doctor_patient_path(@patient, nurse), method: :delete
  %br
= link_to "Back to doctor", doctor_path(@doctor)