<h1><%= @patient.first_name %> <%= @patient.last_name %></h1>
<br>
<%= link_to "Edit Patient", edit_doctor_patient_path(@doctor, @patient) %>
|
<%= link_to "Delete Patient", doctor_patient_path(@doctor, @patient), method: :delete %>
<br>
<br>
<strong>Medication List</strong>
|
<%= link_to "Add Medication", new_doctor_patient_medication_path(@doctor, @patient) %>
<br>
<br>
<% @patient.medications.each do |medication| %>
<ul class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= medication.name %></dd>
  <dt>Company</dt>
  <dd><%= medication.company %></dd>
  <dt>Adverse Effects</dt>
  <dd><%= medication.adverse_effects %></dd>
  <dt><%= link_to "Medication Profile", doctor_patient_medication_path(@doctor, @patient, medication) %></dt>
  <dd></dd>
</ul>
<% end %>
<br>
<br>
<%= link_to "Back to doctor", doctor_path(@doctor) %> 