%h1
  = @doctor.doctor_name
  %small= @doctor.specialty
= link_to "Edit Doctor", edit_doctor_path(@doctor), class: 'btn btn-info'
= link_to "Delete Doctor", doctor_path(@doctor), method: :delete, class: 'btn btn-danger'
%br/
%br/
%h3 Patient List
= link_to "Add Patient", new_doctor_patient_path(@doctor), class: 'btn btn-primary'
%br/
%br/
- @patients.each do |patient|
  %ul.dl-horizontal
    %dt Name
    %dd= patient.first_name
    %dt Description
    %dd= patient.description
    %dt= link_to 'Patient Profile', doctor_patient_path(@doctor, patient)
    %dd
%br/
%br/
= form_for @nurse, url: create_nurse_doctor_path(@doctor) do |f|
  = f.label :Nurse_name
  = f.text_area :nurse_name
  %br/
  = f.submit
  = link_to "Back to Doctor List", doctors_path
  %br/
%ul
  - @nurses.each do |nurse|
    %li
      = nurse.nurse_name
      = link_to "Delete Nurse", destroy_nurse_doctor_path(nurse), method: :delete
      %br/
